* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  height: 600px;
  background-image: url(imagenes/fondo3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;

}

header .textos {
  margin-top: 150px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .titulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}

header .subtitulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}

header .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;

}

.sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.galeria .sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 52px;
}

.sobre-nosotros {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600;

}

.slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}

.parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: rgb(24, 16, 16);
}

.acerca-de .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  font-weight: 300;
  border: 1px solid rgba(24, 16, 16, .7);

  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  color: rgb(24, 16, 16);
  margin-top: 24px;
}

.galeria {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.encima {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #34495e;
}

.encima h2 {
  position: relative;
  top: 30%;
  text-align: center;
  color: #fff;
}

.encima div {
  position: relative;
  display: block;
  top: 30%;
  width: 40px;
  height: 5px;
  background: #fff;
  margin: auto;

}

.cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px 0;
  width: 30%;
  height: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgb(52, 73, 94, 0.849);
}

.cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.fondo {
  height: 900px;
  position: relative;
  background-image: url(imagenes/7.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}

.sesgoabajo-unico {
  margin-top:40px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #828385 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
  color: #fff;
  text-align: center;
}

.titulo-patrocinadores {
  font-size: 56px;
  margin-top: 48px;
}

.subtitulo-patrocinadores {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 64px;
}

.clientes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-between;
}

.cliente {
  width: 30%;
}

.cliente img {
  width: 100%;
}

/* Footer */

footer {
  background: #828385;
  height: auto;
}

.titulo-footer,
.subtitulo-footer {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 56px;
}

.subtitulo-footer {
  font-size: 16px;
  margin-bottom: 64px;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 48%;
  padding: 13px;
  border: none;
  color: #fff;
  font-family: 'open sans';
  background: rgba(37, 37, 33, .7);
  margin-bottom: 16px;
  border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  background: rgba(37, 37, 33, .7);
  padding: 13px;
  border: none;
  color: #fff;
  font-family: 'open sans';
  margin-bottom: 16px;
}

input[type="submit"] {
  display: inline-block;
  padding: 13px;
  border: none;
  color: #fff;
  background: rgba(37, 37, 33, .7);
  width: 96px;
}

.marca {
  width: 60px;
  height: 60px;
}
.nav-item{
  margin-left: 20px;
  font-size: 20px;
}

/* Responsive */

@media screen and (max-width:900px) {
  .card {
    width: 48%;
  }
 
}

@media screen and (max-width:800px) {
  header .textos {
    margin-top: 130px;
    width: 100%;
    height: auto;
    font-size: 80px;
  }

  header .titulo {
    font-size: 50px;

  }

  .none {
    display: none
  }

  .imagenes {
    flex-grow: 1;
  }

  .card {
    width: 90%;
  }

  .fondo {
    height: auto;
  }

  .especial {
    display: none;
  }

  .cliente {
    width: 90%;
    height: 200px;
    margin-bottom: 50px;
  }
  
}

@media screen and (max-width:380px) {
  header .textos {
    margin-top: 80px;
    width: 100%;
  }
  .navbar-nav.mr-auto {
    margin-left: 10px;
  }
  header .titulo {
    margin-top: 150px;
    font-size: 30px;
   margin-left: 20px;
  }

  header .subtitulo {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .boton{
    font-size: 40px;
    margin-left: 20px;
    
  }
  .encima h2{
    font-size: 20px;

  }
  .sobre-nosotros {
    font-size: 40px;
  }

  .slogan {
    font-size: 15px;
  }

  .titulo-patrocinadores {
    font-size: 46px;
  }

  .subtitulo-patrocinadores {
    font-size: 20px;
  }
  
}


.titulo-footer{
  font-size: 40px;
}
.nav-item{
  margin-left: 10px;
  font-size: 10px;
}




:root {
  --second-color: rgb(34, 30, 31);
  --logo-height: 5rem;
  --logo-spacing: 5px;
}

.bg-dark {
  background-color: rgb(34, 30, 31) !important;
}

.navbar-brand img {
  height: var(--logo-height);
  padding: var(--logo-spacing);
  width: auto;
  margin-left: 20px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark.p-0 {
  position: fixed;
  width: 100%;
  z-index: 1000;

}

.navbar-nav.mr-auto {
  margin-left: 10px;
  
}

.nav-item{
  margin-left: 20px;
  font-size: 20px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 0.8s linear infinite;
}
.loader {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  clip-path: circle(150% at 100% 0%);
  transition: clip-path 2s ease-in-out;

}

.loader2 {
  clip-path: circle(0% at 100% 100%);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
